# Variables para probar deploy localmente
# COPIA este archivo a .env.deploy y edita con tus valores reales
# cp scripts/.env.deploy.example scripts/.env.deploy

# VPN Fortinet
VPN_HOST="190.223.20.42"
VPN_PORT="43443"
VPN_USER="externo.overhead"
VPN_PASS="TU_PASSWORD_VPN"
VPN_CERT="edb00c96200f5ae36f4d3aefa1b82e037569d16025e5feb88db3d208e9b6c3c7"

# SSH
SSH_HOST="10.18.10.200"
SSH_PORT="5022"
SSH_USER="usuario_externo"
SSH_PASS="TU_PASSWORD_SSH"
